<div class="card">
    <div class="card-header ">
        <h4> คำถามที่พบบ่อย <img src="https://img.icons8.com/fluency/30/000000/faq.png" /> </h4>
    </div>
    <div class="row">
        <div class="col-12 ml-5">
            <div class="card-body mt-3">
                <h5 class="card-title"> <img src="https://img.icons8.com/color/60/000000/why-us-male--v1.png"
                        class="mr-3" />ผู้ที่สนใจจะสมัครเข้าศึกษาต่อ จะขอโอนรายวิชาจากสถาบันที่เคยเรียนมาจะได้หรือไม่
                </h5>
                <div class="row ">
                    <div class="col-11 ml-5">
                        <div class="card-body ">
                            <p class="card-title"> <img
                                    src="https://img.icons8.com/color/30/000000/checked-checkbox.png"
                                    class="mr-3" />สามารถทำได้หลังจากมีสถานภาพเป็นนิสิตของมหาวิทยาลัยเกษตรศาสตร์แล้ว
                                โดยจัดทำคำร้องทั่วไป
                                ผ่านความเห็นชอบจากคณะกรรมการบัณฑิตศึกษาประจำภาควิชาหัวหน้าภาควิชาหรือประธานสาขา
                                และเสนอคณบดีบัณฑิตวิทยาลัย
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="card mt-2">
    <div class="row">
        <div class="col-12 ml-5">
            <div class="card-body mt-3">
                <h5 class="card-title"> <img src="https://img.icons8.com/color/60/000000/why-us-male--v1.png"
                        class="mr-3" />
                    ใบขอจบการศึกษา สามารถดาวน์โหลดได้จากที่ไหน?
                </h5>
                <div class="row ">
                    <div class="col-12 ml-5">
                        <div class="card-body ">
                            <p class="card-title"> <img
                                    src="https://img.icons8.com/color/30/000000/checked-checkbox.png" class="mr-3" />
                                <a href="http://info.grad.ku.ac.th/endform/">http://info.grad.ku.ac.th/endform/</a>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="row">
        <div class="col-12 ml-5">
            <div class="card-body mt-3">
                <h5 class="card-title"> <img src="https://img.icons8.com/color/60/000000/why-us-male--v1.png"
                        class="mr-3" />การหมดสถานภาพนิสิต สถานภาพนิสิตหมดลงกรณีใดบ้าง
                </h5>
                <div class="row ">
                    <div class="col-12 ml-5">
                        <div class="card-body ">
                            <p class="card-title"> <img src="https://img.icons8.com/color/30/000000/checked-checkbox.png" class="mr-3 mb-1" /><br>
                                1.ตาย<br>
                                2.ได้รับอนุมัติปริญญา<br>
                                3.แจ้งความเท็จ หรือปกปิดความจริงในหลักฐานประกอบการพิจารณาเข้าเป็นนิสิต<br>
                                4.นิสิตทดลองเรียนที่มีแต้มระดับคะแนนเฉลี่ยสะสมไม่ได้ตามกำหนดในข้อบังคับข้อ 8.2<br>
                                5.การสอบวัดคุณสมบัติหรือการสอบประมวลความรู้ไม่ผ่านเป็นครั้งที่สอง<br>
                                6.ไม่สามารถส่งโครงการวิทยานิพนธ์ภายในกำหนดตามข้อ 21.1.1 หรือ 21.1.2<br>
                                7.ลาออกและได้รับอนุมัติแล้ว ทั้งนี้ การขออนุมัติลาออกจะต้องไม่อยู่ระหว่างที่นิสิต
                                แล้วแต่กรณี<br>
                                8.ไม่ลงทะเบียนเรียนให้เสร็จสิ้นภายใน 15 วัน นับแต่วันเปิดภาคเรียน<br>
                                9.ไม่ชำระเงินค่าธรรมเนียมการศึกษาเพื่อรักษาสถานภาพนิสิตภายในกำหนด 15
                                วันนับแต่วันเปิดภาคเรียน<br>
                                10.ไม่สำเร็จการศึกษาภายในเวลาที่กำหนด<br>
                                11.ต้องโทษโดยคำพิพากษาถึงที่สุดให้จำคุก
                                เว้นแต่ความผิดที่เป็นลหุโทษหรือความผิดอันได้กระทำโดยประมาท<br>
                                12.ถูกลงโทษทางวินัยให้ออก หรือไล่ออก<br>
                                13.ตามประกาศของบัณฑิตวิทยาลัย มหาวิทยาลัยเกษตรศาสตร์ เรื่อง การหมดสถานภาพนิสิต<br>
                                ทั้งนี้ รวมทั้งกรณีที่ทางบัณฑิตวิทยาลัยพบภายหลังว่ามีการปลอมแปลงใด ๆ
                                ในหลักฐานประกอบการพิจารณารับเป็นนิสิต
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="card mt-2">
    <div class="row">
        <div class="col-12 ml-5">
            <div class="card-body mt-3">
                <h5 class="card-title"> <img src="https://img.icons8.com/color/60/000000/why-us-male--v1.png"
                        class="mr-3" />
                    หลักฐานการขอจบการศึกษา มีอะไรบ้าง
                </h5>
                <div class="row ">
                    <div class="col-12 ml-5">
                        <div class="card-body ">
                            <p class="card-title"> <img
                                    src="https://img.icons8.com/color/30/000000/checked-checkbox.png" class="mr-3" />
                                หลักสูตรปริญญาเอกและปริญญาโท แผน ก 
                                <a href="https://www.grad.ku.ac.th/download/faqs-evid-app-for-grad-plan-a/?wpdmdl=14971&masterkey=56bf659e2a703">รายละเอียดตามประกาศ</a>และ
                                <a href="https://www.grad.ku.ac.th/download/form-th02-t/?wpdmdl=14226&masterkey=56b18082f0388">แบบฟอร์ม</a>
                               
                            </p>
                            <div class="row ">
                                <div class="col-12 ml-5">
                                    หลักสูตรปริญญาโท แผน ข 
                                    <a href="https://www.grad.ku.ac.th/download/news-nn-20150825/?wpdmdl=9810&masterkey=5697fcce03551">รายละเอียดตามประกาศ</a><br>
                                    
                                    <li>นิสิตที่เข้าศึกษาก่อนปีการศึกษา 2559
                                    <a href="https://www.grad.ku.ac.th/download/news-nn-20150825/?wpdmdl=9810&masterkey=5697fcce03551">รายละเอียดตามประกาศ</a><br>
                                    <li>นิสิตที่เข้าศึกษาตั้งแต่ปีการศึกษา 2559 เป็นต้นไป 
                                    <a href="https://www.grad.ku.ac.th/download/completesubmit59-60/?wpdmdl=31740">รายละเอียดตามประกาศ</a>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
<p>คำตอบของเราให้ประโยชน์กับคุณมากแค่ไหน</p>
</div>
<ngb-rating [(rate)]="currentRate">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
    </ng-template>
  </ngb-rating>
  <hr>
  <pre>Rate: <b>{{currentRate}}</b></pre>

