<div class="row  mt-3">
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
    <div class="col-4 ">
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">แผนผังมหาวิทยาลัย</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
              <p>แผนผังมหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา ปี 2553</p>
              <div class="row">
                <div class="col-12">
                    <img src="https://www.src.ku.ac.th/E_Book/masterplanOS/images/plan1_Page_02.jpg"
                        alt="...">
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
          
          
        
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">แผนผังมหาวิทยาลัย <img src="https://img.icons8.com/color/40/000000/map-marker.png"/></button>
        
    </div>

   
</div>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid h4">
        <a class="navbar-brand">ประวัติความเป็นมา</a>
    </div>
</nav>
<div class="row">
    <div class="col-12">
        <img src="http://img.painaidii.com/images/20180621_8176_1529565673_603800.jpg"
            class="rounded mx-auto d-block mt-3" alt="..." width="600px">
    </div>
</div>


<div class="row">
    <div class="col-12 mt-4 mb-4">
        <a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; มหาวิทยาลัยเกษตรศาสตร์
            วิทยาเขตศรีราชา
            เดิมเป็นสถานีวิจัยและสถานที่ฝึกงานเพื่อการศึกษาและวิจัยของนิสิตมหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน และในปี
            พ.ศ. 2532 มหาวิทยาลัยเกษตรศาสตร์ได้เสนอ “โครงการจัดตั้งวิทยาเขตศรีราชา”ต่อทบวงมหาวิทยาลัย
            โดยมีวัตถุประสงค์เพื่อปรับเปลี่ยนเป็นสถาบันจัดการเรียนการสอนในสาขาวิชาที่รองรับการขยายตัวทางเศรษฐกิจ
            และการพัฒนากำลังคนในเขตภูมิภาคชายฝั่งทะเลตะวันออก ตลอดจนเป็นการขยายโอกาสทางการศึกษาในเขตภูมิภาคตะวันออก
            ทั้งนี้สามารถสรุปการพัฒนาวิทยาเขตศรีราชา ตั้งแต่ปี พ.ศ. 2533 ถึงปีปัจจุบัน
        </a>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid h4">
        <a class="navbar-brand">ประวัติพระพิรุณทรงนาค</a>
    </div>
</nav>
<div class="row">
    <div class="col-12">
        <img src="http://f.ptcdn.info/795/018/000/1399737410-o.jpg" class="rounded mx-auto d-block mt-3" alt="..."
            width="600px">
    </div>
</div>


<div class="row">
    <div class="col-12 mt-4">
        <a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; พระพิรุณทรงนาค
            มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
            ประดิษฐานอยู่บนแท่นสัมฤทธิ์กลม ขนาดเส้นผ่าศูนย์กลาง ๑ เมตร
            มีน้ำพุที่ละเอียดอ่อนดั่งฟองคลื่นพวยพุ่งขึ้นจากพื้นน้ำล้อมรอบฐาน
            ทำให้มองเห็นองค์พระพิรุณโดดเด่นเสมือนประทับยืนบนพญานาคที่กำลังแหวกว่ายอยู่ในท้องทะเล
            ลานพระพิรุณปูด้วยอิฐบล็อกรูปแปดเหลี่ยม อิฐศิลาแทรกด้วยอิฐบล็อกรูปคธาและจัตุรัส รอบ ๆ ลาน พระพิรุณขนาด ๓๐ x
            ๔๐ ตารางเมตร ประดับด้วยโคมไฟ ๑๒ จุด ไฟสปอตไลท์ ๔ จุด และไฟใต้น้ำอีก ๒๐ จุด เมื่อเปิดไฟทั้งหมดในยามราตรี
            แสงไฟที่สาดส่องกระทบอง ๕ พระพิรุณทรงนาค จะสะท้อนออกจากองค์พระพิรุณ ทำให้เห็นอง ๕
            ท่านส่องแสงเป็นประการสีทองงามระยับ
        </a>
    </div>
</div>

<nav class="navbar navbar-light bg-light mt-4">
    <div class="container-fluid h4 ">
        <a class="navbar-brand">ตราสัญลักษณ์มหาวิทยาลัย</a>
    </div>
</nav>
<div class="row">
    <div class="col-12">
        <img src="https://www.src.ku.ac.th/info/images/LogoKU/ku_color_medium.jpg" class="rounded mx-auto d-block mt-3"
            alt="...">
    </div>
</div>


<div class="row mt-3">
    <div class="col-6">
        <nav class="navbar navbar-light bg-light mt-4">
            <div class="container-fluid h4">
                <a class="navbar-brand">ปณิธาน</a>
            </div>
        </nav>
        <div class="row mt-3">
            <a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                วิทยาเขตศรีราชามีความมุ่งมั่นที่จะพัฒนาทรัพยากรมนุษย์ให้มีความรู้ มีภูมิปัญญา มีคุณธรรมและจริยธรรม
                เพื่อเสริมสร้างความเจริญก้าวหน้าและสืบทอดมรดกที่ดีงามของสังคม
                โดยความร่วมมือระหว่างสถาบันการศึกษากับภาครัฐและเอกชน
            </a>
        </div>


    </div>
    <div class="col-6">
        <nav class="navbar navbar-light bg-light mt-4">
            <div class="container-fluid h4">
                <a class="navbar-brand">วิสัยทัศน์</a>
            </div>
        </nav>
        <div class="row mt-3">
            <a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                มหาวิทยาลัยที่มุ่งเน้นการสร้างสรรค์นวัตกรรมดิจิทัล เพื่อพัฒนาเศรษฐกิจ สังคมและสิ่งแวดล้อม ในภาคตะวันออก
            </a>

        </div>

    </div>

</div>



<nav class="navbar navbar-light bg-light mt-4">
    <div class="container-fluid h4">
        <a class="navbar-brand">พันธกิจ</a>
    </div>
</nav>
<div class="row ml-3 mt-3">
    <a>
        1.สร้างและพัฒนานวัตกรรม งานวิจัย และการบริการวิชาการ เน้นด้านดิจิทัล เพื่อพัฒนาเศรษฐกิจ สังคม และสิ่งแวดล้อม
        <br>
        2.สร้างคนที่มีความรู้ที่ทันสมัย มีทักษะในศตวรรษที่ 21 มีความสามารถในการสร้างนวัตกรรม <br>
        3.ร่วมพัฒนากับชุมชน และรับผิดชอบต่อสังคม <br>
        4.สืบสานทำนุบำรุงศิลปะ วัฒนธรรม และดำรงอัตลักษณ์ของมหาวิทยาลัย <br>
        5.บริหารทรัพยากรมหาวิทยาลัยอย่างมีประสิทธิภาพ
    </a>
</div>


<nav class="navbar navbar-light bg-light mt-4">
    <div class="container-fluid h4">
        <a class="navbar-brand">ยุทธศาสตร์</a>
    </div>
</nav>
<div class="row ml-3 mt-3">
    <a>
        1.เป็นองค์กรแห่งดิจิทัล (Digital) <br>
        2.เป็นองค์กรผลิตคนที่เป็นเลิศ (Manpower) <br>
        3.เป็นองค์กรที่มุ่งเน้นการสร้างนวัตกรรม (Innovation) <br>
        4.วัฒนธรรมองค์กรและการบริหารจัดการที่ดี <br>
        5.การปรับปรุงกายภาพและระบบความปลอดภัย <br>
        6.การสื่อสารองค์กรที่ครอบคลุม <br>
        7.การสร้างรายได้เพื่อการพัฒนาและพึ่งพาตนเอง <br>
        8.การทำนุบำรุงศิลปวัฒนธรรมที่ดี
    </a>
</div>
<div class="row ml-3 mt-3">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://pbs.twimg.com/media/D3dT3FdUIAAoj6f?format=jpg&name=large" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">มหาวิทยาลัยเกษตรศาสตร์ บางเขน</h5>
           
              
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://scontent.fcnx1-1.fna.fbcdn.net/v/t31.18172-8/15252532_1721054338223100_7915703258976910261_o.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=Js6FoLlhHMkAX8kY-Jf&_nc_ht=scontent.fcnx1-1.fna&oh=2676eaa1a7c1183525f16a55981dd6ad&oe=61A43C84" height="192px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</h5>
           
             
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="http://kus.kps.ku.ac.th/th/wp-content/uploads/2020/08/IMG_6081-1-768x512.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตกำแพงแสน</h5>
              
              
            </div>
          </div>
    </div>
    
   
</div>

  